ConsumoSomaWS/src/META-INF/wsdl/localhost_50140/Service1.svc.xsd_xsd0.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"><xs:element name="somar"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="num1" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="num2" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="somarResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="somarResult" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element></xs:schema>